.services {
    list-style-type: none;
    padding: 0;
    width: 75%;
    margin: 0 auto;
}

.params {
    list-style-type: none;
    padding: 0;
}

.green {
    color: #5CAD30;
}

.required {
    color: #BB0D37;
}

.required::before{
    content : "• ";
}

.path {
    background: rgba(52, 142, 192, 0.08);
    color: rgb(87, 85, 85);
}